<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">

   <app-title></app-title>

    <!-- About Section Content-->
    <div class="row">
      <div class="col-lg-4 ml-auto"><p class="lead">Actualmente soy estudiante de Ingeniería en Desarrollo de Software.
        Referente a mis skills, manejo la programación dirigida al Front-end developer.
        Aplicando el diseño de interfaz web con JavaScript, HTML5, SCSS,
        CSS3, Booptstrap, Materialize y herramienta Zeplin. Cuento con la experiencia de un año sobre framework Angular 5,6.</p></div>
      <div class="col-lg-4 mr-auto"><p class="lead">Control de versiones con Git y GitHub, también cuento con conocimiento en
        lenguaje SQL para SGBD, y herramientas de diseño como Photoshop e Illustrator.
        Todo esto bajo lineamientos Scrum, y directrices de cleanCode realizando revisión sobre la integridad en pruebas de actividades y despliegues.</p></div>
    </div>
    <!-- About Section Button-->
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
        <i class="fas fa-download mr-2"></i>
        Curriculum Download!
      </a>
    </div>
  </div>
</section>
